@use "@/styles/constants";

.game-screen {
    -webkit-animation: screenFadeIn 0.5s;
    animation: screenFadeIn 0.5s;
    align-items: center;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;

    .scores {
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        font-family: constants.$main-font;
        justify-content: space-between;
        padding: 0.5rem;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9;
    }
}

// Animations
@keyframes screenFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
