@use "@/styles/constants";

.game-screen {
    --fade-time: 0.5s;

    align-items: center;
    background: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    transition: var(--fade-time);
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .game-screen {
        flex-direction: row;
    }
}
