@use "@/styles/constants";

.start-screen {
    --fade-time: 1s;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    transform: translateY(-(constants.$translate-dist));
    transition: opacity var(--fade-time), transform var(--fade-time);
}

// Responsiveness
@media screen and (min-width: constants.$tablet) {
    .start-screen {
        font-size: 2rem;
    }
}
