@use "@/styles/constants";

.player-card {
    --bg-opacity: 0.8;
    --border-style: solid white;
    --border-width: 1px;
    --button-z: 9;
    --fade-time: 0.5s;
    --font-size: 0.9rem;
    --headshot-height: 190px;
    --headshot-pos: -50px;
    --headshot-width: 270px;
    --logo-opacity: 0.3;
    --logo-pos: -200px;
    --logo-size: 400px;
    --text-pos: 50px;

    align-items: center;
    display: flex;
    font-size: var(--font-size);
    height: 50%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    .card-bg {
        height: 100%;
        opacity: var(--bg-opacity);
        position: absolute;
        transition: background-color var(--fade-time);
        width: 100%;
    }

    .team-logo {
        height: var(--logo-size);
        position: absolute;
        transition: transform var(--fade-time), opacity var(--fade-time);
        width: var(--logo-size);
    }

    .show-logo {
        opacity: var(--logo-opacity) !important;
        transform: translateX(0) !important;
    }

    .card-text-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        text-transform: uppercase;
        transition: opacity var(--fade-time), transform var(--fade-time);
        z-index: var(--button-z);

        .stat {
            font-size: 3rem;
            letter-spacing: 2px;
        }
    }

    .player-headshot {
        height: var(--headshot-height);
        position: absolute;
        transition: transform var(--fade-time), opacity var(--fade-time);
        width: var(--headshot-width);
    }
}

.known-card {
    .card-bg {
        border-bottom: var(--border-width) var(--border-style);
    }

    .team-logo {
        left: var(--logo-pos);
        transform: translateX(-(constants.$translate-dist));
    }

    .card-text-container {
        transform: translateX(constants.$translate-dist);
        right: var(--text-pos);
    }

    .player-headshot {
        bottom: var(--border-width);
        left: var(--headshot-pos);
        transform: translateX(-(constants.$translate-dist));
    }
}

.unknown-card {
    .card-bg {
        border-top: var(--border-width) var(--border-style);
    }

    .team-logo {
        transform: translateX(constants.$translate-dist);
        right: var(--logo-pos);
    }

    .card-text-container {
        left: var(--text-pos);
        transform: translateX(-(constants.$translate-dist));

        .fade-container {
            align-items: center;
            display: flex;
            justify-content: center;
            position: relative;

            .stat {
                position: absolute;
                transform: translate(constants.$translate-dist);
                transition: opacity var(--fade-time), transform var(--fade-time);
            }
        }
    }

    .player-headshot {
        bottom: 0;
        right: var(--headshot-pos);
        transform: translateX(constants.$translate-dist);
    }
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .player-card {
        --headshot-height: 28vw;
        --headshot-width: 40vw;
        --logo-pos: -100px;
        --logo-size: 50vw;

        height: 100%;
        width: 50%;

        .player-headshot {
            bottom: 0;
        }
    }

    .known-card {
        .card-bg {
            border-bottom: none;
            border-right: var(--border-width) var(--border-style);
        }

        .card-text-container {
            transform: translateX(-(constants.$translate-dist));
        }
    }

    .unknown-card {
        .card-bg {
            border-top: none;
            border-left: var(--border-width) var(--border-style);
        }

        .card-text-container {
            transform: translateX(constants.$translate-dist);
        }
    }
}

// Desktop view
@media screen and (min-width: constants.$desktop) {
    .player-card {
        --font-size: 2rem;
        --text-pos: 100px;
    }
}
