@use "@/styles/constants";

.player-card {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    .card-bg {
        height: 100%;
        opacity: 0.8;
        position: absolute;
        transition: background-color 1s ease;
        width: 100%;
    }

    .team-logo {
        height: 400px;
        opacity: 0;
        position: absolute;
        transition: transform 0.5s, opacity 0.5s;
        width: 400px;
    }

    .card-text-container {
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        z-index: 2;

        .card-text {
            font-family: constants.$main-font;
            text-transform: uppercase;
        }
    }

    .player-headshot {
        bottom: 1px;
        height: 190px;
        opacity: 0;
        position: absolute;
        transition: transform 0.5s, opacity 0.5s;
        width: 270px;
    }
}

.known-card {
    .card-bg {
        border-bottom: 2px solid white;
    }

    .team-logo {
        left: -200px;
        transform: translateX(-70px);
    }

    .card-text-container {
        transform: translateX(100px);
        right: 50px;
    }

    .player-headshot {
        left: -50px;
        transform: translateX(-100px);
    }

    .show {
        opacity: 1;
        transform: translateX(0);
    }

    .team-logo.show {
        opacity: 0.3;
    }
}

.unknown-card {
    .card-bg {
        border-top: 1px solid white;
    }

    .team-logo {
        transform: translateX(70px);
        right: -200px;
    }

    .card-text-container {
        left: 50px;
        transform: translateX(-100px);

        .fade-container {
            align-items: center;
            display: flex;
            justify-content: center;
            position: relative;

            .answer {
                font-family: constants.$main-font;
                font-size: 3rem;
                letter-spacing: 2px;
                opacity: 0;
                position: absolute;
                transform: translate(50px);
                transition: all 0.5s ease;
            }

            .fade-left {
                opacity: 0;
                transform: translateX(-50px);
            }

            .appear-right {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    .player-headshot {
        right: -50px;
        transform: translateX(100px);
    }

    .show {
        opacity: 1;
        transform: translateX(0);
    }

    .team-logo.show {
        opacity: 0.3;
    }
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .player-card {
        height: 100%;
        width: 50%;

        .team-logo {
            height: 50vw;
            width: 50vw;
        }

        .player-headshot {
            bottom: 0;
            height: 28vw;
            width: 40vw;
        }
    }

    .known-card {
        .card-bg {
            border-bottom: none;
            border-right: 1px solid white;
        }

        .team-logo {
            left: -100px;
            transform: translateX(-70px);
        }

        .card-text-container {
            transform: translateX(-100px);
            right: 50px;
        }

        .player-headshot {
            left: -50px;
            transform: translateX(-100px);
        }

        .show {
            opacity: 1;
            transform: translateX(0);
        }

        .team-logo.show {
            opacity: 0.3;
        }
    }

    .unknown-card {
        .card-bg {
            border-top: none;
            border-left: 1px solid white;
        }

        .team-logo {
            right: -100px;
            transform: translateX(70px);
        }

        .card-text-container {
            transform: translateX(100px);
            left: 50px;
        }

        .player-headshot {
            right: -50px;
            transform: translateX(100px);
        }

        .show {
            opacity: 1;
            transform: translateX(0);
        }

        .team-logo.show {
            opacity: 0.3;
        }
    }
}

// Desktop view
@media screen and (min-width: constants.$desktop) {
    .player-card > .card-text-container {
        font-size: 2.5rem;
    }
}
