@use "@/styles/constants";

.game-over-screen {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 1s, transform 1s;

    .game-over-text {
        font-family: constants.$main-font;
        color: white;
        font-family: constants.$main-font;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .restart-button {
        background: white;
        border: 2px solid white;
        border-radius: 100px;
        font-family: constants.$main-font;
        font-size: 1.5rem;
        padding: 1rem 3rem;
    }
}

.show {
    opacity: 1;
    transform: translateY(0px);
}

// Sticky hover
@media (hover: hover) {
    .game-over-screen > .restart-button:hover {
        background: transparent;
        color: white;
    }
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .game-over-screen > .game-over-text {
        font-size: 3rem;
        margin-bottom: 4rem;
    }
}
