// Dimensions
$navbar-height: 80px;
$desktop: 1439px;
$tablet: 767px;
$max-width: 1600px;

// Font
$main-font: Oswald, Helvetica, sans-serif;
$bold: bold;

// Colors
$more: #00dd80;
$less: #ff7c48;
$svg: invert(100%) sepia(100%) saturate(0%) hue-rotate(99deg) brightness(105%)
    contrast(102%);

// Misc.
$translate-dist: 50px;
