@use "@/styles/constants";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

#app {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: black;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;

    &:hover {
        background: lightgrey;
    }
}

html,
body {
    background: black;
    color: white;
    font-family: constants.$main-font;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

hr {
    border: none;
}

button {
    background: white;
    border: 2px solid white;
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea {
    border: none;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
}

.center {
    margin: 0 auto;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

.hide {
    opacity: 0 !important;
}

.img {
    position: relative;
}

.paired-img {
    margin-right: 0.5rem;
}

.pill-button {
    border-radius: 100px;
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 0.75rem 2rem;
}

.trigger-screen {
    --fade-time: 1s;

    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 100%;
    justify-content: center;
    transform: translateY(-(constants.$translate-dist));
    transition: opacity var(--fade-time), transform var(--fade-time);

    strong {
        margin-bottom: 1rem;
    }
}

.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

// Sticky hover
@media (hover: hover) {
    button:hover {
        background: transparent;
        color: white;
    }
}

// Tablet view
@media screen and (min-width: constants.$tablet) {
    .pill-button {
        margin-top: 3rem;
    }

    .trigger-screen {
        font-size: 2rem;
    }
}
