@use "@/styles/constants";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

#app {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: black;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;

    &:hover {
        background: lightgrey;
    }
}

html,
body {
    background: black;
    color: white;
    font-family: constants.$main-font;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

hr {
    border: none;
}

button {
    background: white;
    border: 2px solid white;
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea {
    border: none;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

.center {
    margin: 0 auto;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

.hide {
    opacity: 0 !important;
}

.img {
    position: relative;
}

.paired-img {
    margin-right: 0.75rem;
}

.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

// Sticky hover
@media (hover: hover) {
    button:hover {
        background: transparent;
        color: white;
    }
}
