@use "@/styles/constants";

.navbar {
    --logo-size: 40px;

    font-size: 1.25rem;
    height: constants.$navbar-height;

    .navbar-container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        padding: 0 constants.$nav-padding;

        .logo {
            align-items: center;
            display: flex;

            .logo-img {
                height: var(--logo-size);
                width: var(--logo-size);
            }

            .logo-text {
                font-weight: bold;
            }
        }
    }
}

// Desktop view
@media screen and (min-width: constants.$desktop) {
    .navbar > .navbar-container {
        max-width: constants.$max-width;
    }
}
