@use "@/styles/constants";

.footer {
    --footer-height: 10rem;
    --headshot-size: 80px;
    --link-size: 30px;
    --link-spacing: 120px;
    --y-padding: 2rem;

    height: var(--footer-height);

    .footer-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: var(--y-padding) constants.$nav-padding;

        .credits {
            align-items: center;
            display: flex;

            .headshot {
                height: var(--headshot-size);
                width: var(--headshot-size);
            }

            .credits-text {
                font-size: var(--font-size);
            }
        }

        .links {
            display: flex;
            justify-content: space-between;
            width: var(--link-spacing);

            .link {
                filter: constants.$svg;
                height: var(--link-size);
                width: var(--link-size);
            }
        }
    }
}

@media (hover: hover) {
    .footer {
        --scale-amnt: 1.1;
        --scale-time: 0.2s;

        .footer-container > .links > .link {
            transition: transform var(--scale-time);

            &:hover {
                transform: scale(var(--scale-amnt));
            }
        }
    }
}

@media screen and (min-width: constants.$desktop) {
    .footer {
        --footer-height: auto;
        --link-size: 40px;
        --y-padding: 1.5rem;

        .footer-container {
            flex-direction: row;
            max-width: constants.$max-width;
        }
    }
}
